.nav-link{
  list-style-type: none;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  }
  .nav {

    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: white;
  }
  .navi.pass{
    margin-left: 40px;
  }
.h2, h2 {
    color: black;
}
.li{
    float: left;
    color: black;
}
.li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
  color: white;
  background-color:#031945;
  font-weight: bold;
}