.container{
    width: 100%;
}
.pass-head{
    direction: ltr;
}
.form-head{
    display: inline-flex;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
}
.row-form{
    width: 100%;
    padding-bottom: 20px;
}
.row-body{
    font-size: 15px;
    text-align: left;
    vertical-align: middle;
    border: 3px;
    width:auto;
    padding-bottom: 10px;
}
.form-control{
    text-align: start;
}
.btn-btn-save{
    background: #0194f3;
    color: white;
    border: none;
    border-radius: 3px;
    height: 45px;
    width: 60px;
    margin: 16px;
}
.btn-btn-cancel{
    background: #f7f9fa;
    color: #0194f3;
    border: none;
    border-radius: 3px;
    height: 45px;
    width: 60px;
}
