.container{
    width: 100%;
}
.form-head{
    padding: 16px;
    border-top: 3px;
    border-bottom-width: 10px;
    justify-content: center;
}
.row-form{
    width: 100%;
    padding-bottom: 20px;
}

.row-select{
    font-size: 15px;
    text-align: left;
    vertical-align: middle;
    border: 3px;
    width:auto;
    direction: ltr;
    display:flex;
    padding-top: 10px;
}
.form-control{
    text-align: start;
}
.click-btn{
    direction: rtl;
    margin: -2%;
}
.btn-save{
    background: #0194f3;
    color: white;
    border: none;
    border-radius: 3px;
    height: 45px;
    width: 60px;
    margin: 16px;
}
.btn-cancel{
    background: #f7f9fa;
    color: #0194f3;
    border: none;
    border-radius: 3px;
    height: 45px;
    width: 60px;
}
