.modal{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content{
  width: 600px;
  height: 500px;
  background-color: #fff;
}
.modal-header, .modal-footer{
  padding: 10px;
}
.modal-header{
  margin: 0;
}
.modal-body{
  padding: 10px;
  border-top: 1px solid #eee;
  height: 500px;
  width: 600px;
  text-align: center;
}
.modal .show .modal-content{
  transform: translateY(0);
}
#payment-form{
  border: none;
  width: 550px;
  margin-left: 15px;
  margin-right: 50px;
  padding: 10px;
}

.EC-Body{
  height: 150px;
  width: 300px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px;

}
.Card-Header{
  height: 50px;

}
.all-body-card{
  height: 480px;
  text-align: center;
}