  .container{
      padding-left: 0%;
  }
  .navbar-nav{
    display:inline-flex;
    direction: ltr;
  }
  .list-group{
      font-size: 15px;
      margin-top: 10px;
      text-align: left;
      vertical-align:middle;
      border: 3px;
      float: right;
      width:auto;
      position:absolute;
  }
  .li{
      display: block;
  }
  li a {
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  