.card col-md-2{
  background-color:#33AEFF;
}



.rox{
  display: flex;
}

  .padding-left1
  {
    /* padding-left: 22.8em; */
    text-align: right;
  }
  .text-color{
    color: #33AEFF;
  }
  .mar-text{
    margin-top: 20em;
  }
  
  .bg-color{
    background: whitesmoke;
  }
  .bg-left{
    background-color: #33AEFF;
  }
  .radius-left{
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .text-color-w{
    color: white;
  }
  .text-color-blur{
    color: #777;
  }
  .text-color-blur-2{
    color: #777;
    opacity: 0.6;
  }
  
  .bg-right{
    background-color: white;
  }
  .radius-right{
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .buttonDialog{
    border: none;
    background-color: white;
  }
  .buttonDialog-2{
    border: none;
    background-color: #0194f3;
    color: #ffffff;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
    
  }
 .img-1{
   width: 14px;
   height: 14px;
 }
 .body-point{
   color: #ffffff;
 }

  /* ---------------------------------------------------------------------- */
/* --------------------------------Dialog--------------------------------- */
.dialogstyle{
  padding: 2%;
  width: 50%;
  height: 60%;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  overflow: auto;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: #cacdcf;
  padding: 10px 20px 40px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.dialogCloseButton{
  margin-bottom: 15px;
  padding: 3px 8px;
  cursor: pointer;
  background-color: rgb(221, 221, 225);
  border: none;
  width: 30px;
  height: 30px;
  font-weight: bold;
  align-self: flex-end;
}

.text-diaolog-right{
  text-align: right;
}
.font-size{
  font-size: 22px;
}
nav{
  display: flex;
  min-height: 10vh;
  background: #ffffff;
  direction: ltr;
}
.bottom-line{
  border-bottom: 2px solid blue;
}
.button-nav-item{
  height: 60px;
  width: 80%;
  border: none;
  background-color: white;
}
.text-color-nav{
  color: rgb(91, 90, 90)
}
.nav-mar{
  height: 5%;
}
/* ----------------children_Page_Nav-------------------- */
.size-text{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.text-color-second{
    padding: 12px;
    color: rgb(2, 100, 200);
    background: rgb(175, 206, 224); 
}
.img-style{
  width: 26px;
  height:24px;
  object-fit: fill; 
}
.paint-card{
  background-color: #0194f3;
}
/* ----------------children_Page_Nav-------------------- */

/* ----------------------------------Dialog----------------------------- */