.App {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(48, 131, 255);
}
.nav-link{
  width: 45%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.all-body{
  height: 100%;
  width: 100%;
}